body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #1f2937;
}

/* * { outline: 2px solid red; }/* 2px width, solid style, red color */

div, p, button, a {
    font-family: 'Roboto';
}

a {
  color: inherit; /* Makes link color same as surrounding text */
  text-decoration: none;
}

/* section */
.header {
    display: flex;
    justify-content: space-evenly;
    background-color: #1f2937;
    color: white;
    font-family: 'Roboto';
    margin: 24px;
    gap: 350px;
}

.left {
    font-size: 24px;
    font-weight: 900;
    margin-left: 5px;
}

.right {
    display: flex;
    font-size: 18px;
    gap: 24px;
    color:#e5e7eb;
    text-decoration: none;
    margin-right: 5px;
}

/* section */
.awesome {
    display: flex;
    background-color: #1f2937;
    color: white;
    justify-content: space-evenly;
    padding: 50px;
}

.awe-left {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    width: 445px;
    height: 300px;
    gap: 10px;
}

.maintext {
    font-size: 48px;
}

.awe-subtext {
    font-size: 18px;    
}

.awe-right {
    width: 445px;
    height: 300px;
}

.signup {
    margin-right:auto;
    background-color: #3883f6;
    color:white;
    font-weight: bold;
    border-radius: 8px; /* Applies an 8px radius to all corners */
    width: 125px;
    height: 30px;
    outline: none;
}

/* section */
.random {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.top {
    font-size: 36px;
    font-weight: 900;    
    margin: 30px;
    margin-top: 70px;
}
.boxes {
    display: flex;
    justify-content: space-around;
    align-items: baseline;

}
.outline {
    outline: 3px solid #3882f6; 
    width: 140px;
    height: 140px;
    margin: 30px;
    margin-bottom: 15px;
    border-radius: 8px; /* Applies an 8px radius to all corners */
}

.subtext {
    display: flex;
    width: 800px;
    justify-content: space-around;
    margin-bottom: 70px;

}

.subsubtext {
    margin: 30px;
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    color:#1f2937;
}

/* section */
.quote {
    background-color: #e5e7eb;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
}

.inspire {
    font-size: 36px;
    font-weight: 300;
    color:#1f2937;
    align-self: center;
    width: 850px;
}

.thor {
    margin-left: 470px;
    color:#1f2937;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
}

/* section */
.action {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue {
    display: flex;
    justify-content: space-evenly;
    background-color: #3882f6;
    margin: 80px;
    width: 1400px;
    border-radius: 8px; /* Applies an 8px radius to all corners */
}

.call {
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.callbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.callsign {
    width: 90px;
    height: 50px;
    color: #e5e7eb;
    font-weight: bolder;
    background-color: #3882f6;
    border-radius: 8px; /* Applies an 8px radius to all corners */
    outline-color: white;

}

/* section */
.footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
}